/* All imported fonts right here */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');


* {
  box-sizing: border-box;
}

html {
  font-size: 15px;
}

/* selectors specifically for smaller screens */
@media (min-width: 400px) {
  html {
    font-size: 1em;
  }
  .App h1 {
    font-size: 2em;
  }
}

@media (min-width: 768px) {
  html { /* DESKTOP */
    /* font-size: 21px; */
  }
}

html, body {
  height:100%;
  display:flex;
  flex:1;
  font-family: "Avenir Next", sans-serif;
}


.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex:1;
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  /* background-image: url("/img/gradient_lavender.png"); */
  background-image: url("/img/gradient_orange&pink.png");

}

.instructions {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: black;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  padding: 3px;
}

.App h1 {
  font-size: 4em;
  margin: 10px;
  /* I want the Roboto font to show up after a minute */
  font-family: 'Roboto', sans-serif;
}

h2 {
  font-size: 1em;
  margin: 15px 0px;
}

p {
  font-size: 1em;
  font-style: normal;
  margin: 5px;
}

.sidebar {
  /* Ignore flex display */
  position: absolute;
  top: 0;
  left: 7px;
}

.num_bubbles {
  font-size: 2em;
  font-weight: lighter;
  margin: 20px 0px;
}

/* applied to ALL bubbles, sizing/location is done inside the bubble.js file */
.bubble {
  position: absolute;
  z-index: 1;
  /* z is set so the bubbles will be on top of the text */
}

/* Broken currently */
.bubble img:hover {
  animation: pulse 0.3s linear 1;
}