* {
  box-sizing: border-box;
}

html {
  font-size: 15px;
}

@media (min-width: 400px) {
  html { /* TABLET */
    font-size: 18px;
  }
}

@media (min-width: 768px) {
  html { /* DESKTOP */
    font-size: 21px;
  }
}

html, body {
  height:100%;
  display:flex;
  flex:1;
}